<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/discover.css">

    <title>Discover Page</title>
</head>
<body>
    <header class="topnav_background" id="navbar">
        <div class="topnav">
            <a href="index" style="border-width: 0px; padding: 0px;";><img src="images/UMAI-ICON-FINAL-02.svg" class="topnav_img"></a>
            <div class="topnav_links">
                <a>Add Recipe</a>
                <a href="discover">Discover</a>
                <a href="userRecipes">Your Recipes</a>
            </div>
        </div>
    </header>

    <div id="discover_container">
        <div id="header">
            <h1>Welcome <%= name %></h1>
        </div>

        <div id="card_container">
            <% for (let i = 0; i < num_cards; i++) {%>
                <%- include ('partials/recipe_card.ejs') %>
            <% } %>
            <script>
                var img = document.getElementByClassName("card_img").setAttribute("src", "<%= data[0][2] %>");
            </script>
        </div>

        <div id="card_container">
            <script>
                /* Init vars */
                var num_cards = "<%= num_cards %>";
                
                console.log("data stuiff")
                console.log('');
                console.log(num_cards);

                for (let i = 0; i < num_cards; i++) {
                    /* Init elemets of card */
                    // var card = document.createElement('div');
                    // card.setAttribute("class", "card");
                    // var card_container_info = document.createElement('div')
                    // card_container_info.setAttribute("class", "card_container_info");
                    // var card_img = document.createElement('img');
                    // card_img.setAttribute("src", data[i]['img']);
                    // card_img.setAttribute("class", "card_img");
                    // var p = document.createElement('p');
                    // p.appendChild(document.createTextNode(data[i]['description']));

                    // var card_info = document.createElement('ul');
                    // card_info.setAttribute("class", "card_info");
                    // var li;

                    // var form = document.createElement('form')
                    // form.setAttribute("action", "/recipe");
                    // form.setAttribute("method", "POST");
                    // var input;

                    // /* Create children for form and ul */
                    // li = document.createElement('li');
                    // li.appendChild(document.createTextNode(data[i]['time'] + "min"));
                    // card_info.appendChild(li);
                    // li = document.createElement('li');
                    // li.appendChild(document.createTextNode("Servings: " + data[i]['serving']));
                    // card_info.appendChild(li);

                    // input = document.createElement('input');
                    // input.setAttribute("class", "card_id");
                    // input.setAttribute("type", "id")
                    // input.setAttribute("value", data[i]['id']);
                    // form.appendChild(input);
                    // input = document.createElement('input');
                    // input.setAttribute("class", "card_link");
                    // input.setAttribute("type", "submit");
                    // input.setAttribute("value", "View Recipe");
                    // form.appendChild(input);
                }
            </script>
        </div>
    </div>
</body>
</html>