<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/normalize.css">

    <title>Default Page</title>
</head>
<body>
    <header>
        <div class="topnav_background" id="navbar">
            <div class="topnav">
                <a href="index.ejs" style="border-width: 0px; padding: 0px;";><img src="images/UMAI-ICON-FINAL-02.svg" class="topnav_img"></a>
                <div class="topnav_links">
                    <!--Google Login API-->
                    <script src="https://accounts.google.com/gsi/client" async></script>
                    <script type="module">
                        import { jwtDecode } from "jwt-decode";

                        function handleCredentialResponse(response) {
                            console.log('jwt func');
                            // decodeJwtResponse() is a custom function defined by you
                            // to decode the credential response.

                            // console.log("ID: " + responsePayload.sub);
                            // console.log('Full Name: ' + responsePayload.name);
                            // console.log('Given Name: ' + responsePayload.given_name);
                            // console.log('Family Name: ' + responsePayload.family_name);
                            // console.log("Image URL: " + responsePayload.picture);
                            // console.log("Email: " + responsePayload.email);
                            const decoded = jwtDecode(response);
                            console.log(decoded);

                        }
                        window.onload = function() {
                            google.accounts.id.initialize({
                                client_id: "630460929969-47is0aidbr8r9jitmhd12v3m6000875b.apps.googleusercontent.com",
                                callback: data => handleCredentialResponse(data)
                            });
                            google.accounts.id.renderButton(
                                document.getElementById("buttonDiv"),
                                { theme: "outline", size: "larger" }
                            );
                            console.log("IT WORKS");
                        }
                    </script>
                    <div id="buttonDiv"></div>
                    <button>Join Free</button>
                </div>
            </div>
        </div>
        <script src="js/scrollbar.js"></script>
    </header>
</body>
</html>