<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/normalize.css">

    <title>Default Page</title>
</head>
<body>
    <header>
        <div class="topnav_background" id="navbar">
            <div class="topnav">
                <a href="index.ejs" style="border-width: 0px; padding: 0px;";><img src="images/UMAI-ICON-FINAL-02.svg" class="topnav_img"></a>
                <div class="topnav_links">
                    <!--Google Login API-->
                    <script src="https://accounts.google.com/gsi/client" async></script>
                    <div id="g_id_onload"
                        data-client_id="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" 
                        data-login_uri="https://umai-site-fc33abfe2d2d.herokuapp.com/"
                        data-auto_prompt="false"
                        data-callback="data => handleCredentialResponse(data)">
                    </div>
                    <script>
                        function handelCredentialResponse(response) {
                            console.log("ello");
                        }
                    </script>
                    <div class="g_id_signin"
                        data-type="standard"
                        data-size="large"
                        data-theme="outline"
                        data-text="sign_in_with"
                        data-shape="rectangular"
                        data-logo_alignment="left">
                    </div>
                    <button>Join Free</button>
                </div>
            </div>
        </div>
        <script src="js/scrollbar.js"></script>
    </header>
</body>
</html>