<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/normalize.css">

    <title>Default Page</title>
</head>
<body>
    <header>
        <div class="topnav_background" id="navbar">
            <div class="topnav">
                <a href="index.ejs" style="border-width: 0px; padding: 0px;";><img src="images/UMAI-ICON-FINAL-02.svg" class="topnav_img"></a>
                <div class="topnav_links">
                    <a href="/home">Login</a>
                    <a href="/home">Discover</a>
                    <button>Join Free</button>
                </div>
            </div>
        </div>
        <script src="js/scrollbar.js"></script>
    </header>

    <h1>Welcome <%= name %></h1>
</body>
</html>