/* General */
p {
    margin: 0px;
}

li {
    margin-bottom: 7px;
}

#discover_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 250px 50px 250px;
}

/* Recipe Cards */
#card_container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    height: 400px;
    margin: 40px;
    padding: 10px;
    background-color: #D3D3D3;
    overflow: hidden;
}

.card_overlay {
    height: 200px;
    overflow: hidden;
}

.card_description {
    
}

.card_description_more {

}

.card_title{
    margin-bottom: 0px;
}

.card:hover {
    height: 500px;
    transition: 0.5s;
}

.card_img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

