/* Colors */
:root {
    --dark_cyan_blue: #2CA4AB;
    --smokey_white: #F1F1F1;
}

/* General */
p {
    margin-top: 20px;
    padding: 0px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 7px;
}

#discover_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px 250px 50px 300px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

/* Recipe Cards */
#card_container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 415px;
    margin: 40px;
    padding: 10px;
    background-color: #F1F1F1;
    overflow: hidden;
}

.card_container_info {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.card_title{
    margin-bottom: 0px;
}

.card:hover {
    height: 580px;
    transition: 0.5s;
}

.card_img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.card_link {
    width: 100%;
    height: auto;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #4ED9B2;
    color: white;
    padding: 8px 8px;
    text-decoration: none;
}

.card_id {
    width: 0px;
    height: 0px;
    border: none;
    visibility: hidden;
    position: absolute;
}

.minimize {
    display: none;
}

/* Sidebar */
#sidebar_container {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 860px;
    position: fixed;
    left: 0px;
    padding: 35px;
    background-color: var(--smokey_white);
}

#sidebar_container h1 {
    margin: 20px 0px 0px 0px;
    font-size: 35px;
    border-bottom: solid 2px black;
}

#sidebar_container h2 {
    margin: 0px 0px 20px 0px;
    font-size: 25px;
    font-weight: normal;
}

.filter_container {
    margin-top: 50px;
}

.filters {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    font-size: 20px;
}

.filters input{
    margin-right: 13px;
}
